{% extends template %}
{% load static %}

{% block styles3 %}
    <link rel="stylesheet" href="{% static 'customcss/table.css' %}">
{% endblock styles3 %}
{% block dashboard %}
    <h2 class="table">Your history in the company</h2>
    <table>
        <tr>
            <th>Join Date</th>
            <th>Quit Date</th>
            <th>Status</th>
            <th>Belonging to</th>
            <th>Responsible for</th>
        </tr>
        {% for record in userhistory %}
            <tr>
                <td>{{ record.join_date|date:"d/m/Y" }}</td>
                <td>{{ record.quit_date|date:"d/m/Y" }}</td>
                <td>{{ record.status }}</td>
                <td>{{ record.belonging_to.name }}</td>
                <td>{{ record.responsible_for.name }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock dashboard %}