{% extends 'service/dashboard.html' %}
{% load static %}

{% block scripts %}
    <script src="{% static 'js/htmx.js' %}" defer></script>
{% endblock scripts %}
{% block dashboard %}
    <form method="get" action="{% url 'SalesmanDashboard' %}" hx-get="{% url 'SalesmanDashboard' %}"
          hx-target="#deal-table">
        {{ form }}
        <input type="submit" value="Filter">
    </form>

    <div id="salesmen-table">
        {% include 'salesman/deal_list_partial.html' %}
    </div>
{% endblock dashboard %}