{% if lost_deals %}
    <table id="table">
        <tr>
            <th></th>
            <th>Date of State</th>
            <th>Client Full Name</th>
            <th>Representing</th>
            <th>Attributed to Branch</th>
            <th>Service Name</th>
        </tr>
        {% for record in lost_deals %}
            <tr>
                <td>
                    <form method="post">
                        {% csrf_token %}
                        <button class="button" type="submit"
                                hx-target="table"
                                hx-post="{% url 'further-motivation' record.id %}"
                                hx-swap="outerHTML"
                                hx-confirm="Are you sure you want another chance with this deal for further motivation?">
                            Append
                        </button>
                    </form>
                </td>
                <td>{{ record.date_of_state }} </td>
                <td>{{ record.service_seeker.full_name }} </td>
                <td>{{ record.representing }} </td>
                <td>{{ record.attributed_to }} </td>
                <td>{{ record.service }} </td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>Excellent, you don't have any lost deals at ALL!</p>
{% endif %}