{% extends 'salesman/dashboard.html' %}
{% load static %}
{% block styles3 %}
    <link rel="stylesheet" href="{% static 'service/css/table.css' %}">
    <link rel="stylesheet" href="{% static 'user/css/form.css' %}">
{% endblock styles3 %}
{% block dashboard %}
    <h2 class="table">Your Lost Deals</h2>
    {% include "salesman/lost_deals_table.html" %}
{% endblock dashboard %}

{% block scripts1 %}
    <script src="{% static 'js/htmx.js' %}"></script>
    <script>
        document.addEventListener('htmx:configRequest', function (event) {
            event.detail.headers['X-CSRFToken'] = document.querySelector('[name=csrfmiddlewaretoken]').value;
        });
    </script>
{% endblock scripts1 %}