{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'service/css/basedashboard.css' %}">
{% endblock styles %}

{% block content %}
    {% if user.last_logout %}
        <h1>Welcome Back {{ user.full_name }}</h1>
        <p>Last Seen: {{ user.last_logout|date:"l, d/m/Y \a\t H:i" }}</p>
    {% else %}
        <h1>Hello {{ user.full_name}} </h1>
        <p>Congrats on making it to your dashboard for the first time!</p>
        <p>Your first Login: {{ user.last_login|date:"l, d/m/Y \a\t H:i" }}</p>
    {% endif %}
    <aside>
        <nav>
            {% block navigation %}
                <a href="{% url 'history' user.current_status %}">Your history</a>
            {% endblock navigation %}
        </nav>
    </aside>
    <main>
        {% block dashboard %}{% endblock dashboard %}
    </main>
{% endblock content %}