h1 {
    margin-block: 15px;
}

ul {
    margin-block: 20px;
}

/*this is for messages styling*/
.messages {
    border-radius: 8px 8px 0 0;
    border: 1px solid transparent;
    position: relative;
    padding: 27px 5px;
    list-style: none;
}

.messages:has(.success) {
    background-color: #81f1c1;
    border-color: #badbcc;
}

.messages:has(.error) {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.messages li {
    text-align: center;
}

.messages i {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.messages i:hover {
    color: var(--error-color);
}

.hidden {
    display: none;
}
