{% extends 'customcomponents/dashboard.html' %}
{% load static %}
{% block styles3 %}
    <link rel="stylesheet" href="{% static 'customcss/table.css' %}">
{% endblock styles3 %}
{% block dashboard %}
    <h2 class="table">You are in charge of {{ supervisor.supervisor.branch_group.group.name }} Branch</h2>
    <p>Here are the salesmen currently under your branch:</p>
    <table style="margin-top: 30px">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Joined the team at</th>
            <th>Last Seen</th>
        </tr>
        {% for salesman in salesmen %}
            <tr>
                <td>{{ salesman.user.first_name }} </td>
                <td>{{ salesman.user.last_name }} </td>
                <td>{{ salesman.user.email }} </td>
                <td>{{ salesman.user.phone_number }}</td>
                <td> {{ salesman.user.latest_record.0.join_date|date:"d/m/Y" }}</td>
                <td>{{ salesman.user.last_logout|date:"d/m/Y \a\t H:i" }} </td>
            </tr>
        {% endfor %}
    </table>
    <h2 class="plot">Your earnings for This Year</h2>
    <div id="earnings-histogram" class="plot" style="width: 100%; height: 400px;"></div>
{% endblock dashboard %}
{% block scripts2 %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
        const months = {{ months|safe }};
        const earnings = {{ earnings|safe }};

        function getCssVariableValue(cssvariable) {
            const isDarkMode = document.body.classList.contains('darkmode');

            const root = document.querySelector(isDarkMode ? '.darkmode' : ':root');
            return getComputedStyle(root).getPropertyValue(cssvariable).trim();
        }


        function drawplot() {
            const trace = {
                x: months,
                y: earnings,
                type: 'bar',
                marker: {
                    color: getCssVariableValue("--primary-color-400"),
                },
                hoverlabel: {
                    font: {
                        color: '#ffffff'  // Set hover text color to white
                    }
                }
            };

            const data = [trace];

            const layout = {
                    title: {
                        text: 'Earnings by Month',
                        font: {
                            size: 25,
                            weight: 'bold',
                            color: getCssVariableValue("--text-color")
                        }
                    },
                    xaxis: {
                        title: {
                            text: 'Month',
                            font: {
                                size: 18,
                                color: getCssVariableValue("--text-color")
                            }
                        },
                        tickmode: 'array',
                        tickvals: months,
                        tickfont: {
                            size: 16,
                            weight: 'bolder',
                            color: getCssVariableValue("--text-color")
                        }
                    },
                    yaxis: {
                        title: {
                            text: 'Total Earnings',
                            standoff: 20,
                            font: {
                                size: 18,
                                color: getCssVariableValue("--text-color")
                            }
                        },
                        tickfont: {
                            color: getCssVariableValue("--text-color")
                        },
                        ticksuffix: ' $'
                    },
                    paper_bgcolor: getCssVariableValue("--background-color-400"),
                    plot_bgcolor: getCssVariableValue("--background-color-400")
                }
            ;

            Plotly.newPlot('earnings-histogram', data, layout, {displayModeBar: false});
        }

        drawplot();


        darkModeToggle.addEventListener("click", () => {
            drawplot();
        })

    </script>
{% endblock scripts2 %}
