{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'user/css/form.css' %}">
    <link rel="stylesheet" href="{% static 'user/css/login.css' %}">
{% endblock styles %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <h1>Login to your Account:</h1>
        <div>
            {% if form.errors %}
                <p class="errorlist">Please Enter a valid account's email and password</p>
            {% endif %}
            {{ form.username.as_field_group }}
        </div>
        <div>{{ form.password.as_field_group }}</div>
        <button type="submit" class="button">Login</button>
    </form>
    <small>Forgot your password? <a href="{% url 'password_reset' %}">Reset your password</a></small>
    <small>Don't have an account? <a href="{% url 'new_account' %}">Create an account</a></small>
{% endblock content %}