{% extends 'skeleton.html' %}
{% block body %}
    <form method="post">
        {% csrf_token %}
        <div>
            {{ form.new_password1.label_tag }}
            {{ form.new_password1 }}
        </div>
        <div>
            {{ form.new_password2.label_tag }}
            {{ form.new_password2 }}
            {{ form.new_password2.errors }}
        </div>
        <button type="submit">Reset</button>
    </form>
    <div>
        {{ form.new_password1.help_text }}
    </div>
    {% include 'components/footer.html' %}
{% endblock body %}