{% extends 'skeleton.html' %}
{% load static %}
{% block basicstyles %}
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'user/css/password_reset_done.css' %}">
{% endblock basicstyles %}

{% block body %}
    <section class="container skeleton">
        <p>
            An email has been sent to you for further instructions on how to reset your account's password. <br>
            Please note that if you don't have an account,
            you can create one right <a href="{% url 'new_account' %}">here</a>.
        </p>
        <a href="{% url 'index' %}" class="home_link">Back to Main Page</a>
    </section>
    {% include 'components/footer.html' %}
{% endblock body %}