{% extends 'skeleton.html' %}
{% load static %}

{% block basicstyles %}
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'user/css/form.css' %}">
{% endblock basicstyles %}


{% block body %}
    <section class="container skeleton">
        <form method="post">
            {% csrf_token %}
            <div>
                {{ form.new_password1.label_tag }}
                {{ form.new_password1 }}
            </div>
            <div>
                {{ form.new_password2.label_tag }}
                {{ form.new_password2 }}
                {{ form.new_password2.errors }}
            </div>
            <button type="submit">Reset</button>
        </form>
        <div class="help">
            {{ form.new_password1.help_text }}
        </div>
    </section>
    {% include 'components/footer.html' %}
{% endblock body %}