{% extends 'basiccomponents/skeleton.html' %}
{% load static %}

{% block styles1 %}
    <link rel="stylesheet" href="{% static 'basiccss/footer.css' %}">
    <link rel="stylesheet" href="{% static 'customcss/form.css' %}">
{% endblock styles1 %}


{% block body %}
    <section class="container skeleton">
        <form method="post">
            <h1>Reset Your Password</h1>
            {% csrf_token %}
            <div>
                {{ form.new_password1.label_tag }}
                {{ form.new_password1 }}
            </div>
            <div>
                {{ form.new_password2.label_tag }}
                {{ form.new_password2 }}
                {{ form.new_password2.errors }}
            </div>
            <button type="submit" class="button">Reset</button>
        </form>
        <div class="help">
            {{ form.new_password1.help_text }}
        </div>
    </section>
    {% include 'basiccomponents/footer.html' %}
{% endblock body %}