{% extends 'basiccomponents/skeleton.html' %}
{% load static %}
{% block styles1%}
    <link rel="stylesheet" href="{% static 'basiccss/footer.css' %}">
    <link rel="stylesheet" href="{% static 'user/css/password_reset_complete.css' %}">
{% endblock styles1 %}

{% block body %}
    <section class="container skeleton">
        <p>You have successfully changed your account's password.</p>
        <div class="links">
            <a href="{% url 'index' %}">Back to Home Page</a>
            <a href="{% url 'login' %}">Log In</a>
        </div>
    </section>
    {% include 'basiccomponents/footer.html' %}
{% endblock body %}