/*This is a utility style file for all forms */

form {
    display: grid;
    row-gap: 15px;
    justify-items: start;
}

form div {
    display: grid;
}

input {
    padding: 5px 5px 5px 10px;
    width: 250px;
}

button {
    font-size: 1.125rem;
    padding: 10px 30px;
    background-color: var(--secondary600);
    color: var(--white);
    border: none;
    cursor: pointer;
    transition: background-color 0.5s;
}

button:hover {
    background-color: var(--secondary700);
}

.errorlist {
    color: var(--error);
}

ul.errorlist {
    list-style: inside "- ";
}

div.help {
    margin-top: 40px;
}