{% extends 'service/dashboard.html' %}
{% block dashboard %}
    <h2>You are in charge of {{ supervisor.branch_group }} Branch</h2>
    <p>Here are the salesmen currently under your branch:</p>
    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Joined the team at</th>
            <th>Last Seen</th>
        </tr>
        {% for salesman in group %}
            <tr>.user
                <td>{{ salesman.user.first_name }} </td>
                <td>{{ salesman.user.last_name }} </td>
                <td>{{ salesman.user.email }} </td>
                <td>{{ salesman.user.date_joined|date:"d/m/Y" }} </td>
                <td>{{ salesman.user.last_logout|date:"d/m/Y \a\t H:i" }} </td>
            </tr>
        {% endfor %}

    </table>
{% endblock dashboard %}