aside {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100dvh;
    width: calc(var(--padding-left) - 40px);
    background-color: var(--text);
    display: grid;
    justify-items: center;
    z-index: 1;
}

footer {
    position: relative;
    z-index: 2;
}

h2.plot {
    margin-block: 30px;
}

aside nav {
    display: grid;
    row-gap: 10px;
    align-self: center;
}

aside a {
    color: var(--white);
    text-decoration: none;
    font-size: 1.1rem;
}

aside a:hover {
    color: var(--accent300);
}

