h2.table {
    margin-block: 50px 30px;
}

table {
    border-collapse: collapse;
}

th, td {
    padding-block: 5px;
    padding-right: 50px;
    text-align: left;
    border-bottom: 1px solid #DDD;
}

tr:hover {
    background-color: #D6EEEE;
}