header {
    padding-block: 20px;
    padding-inline: var(--padding-left) var(--padding-right);

    display: flex;
    align-items: center;
    color: var(--secondary400);
}

header a {
    text-decoration: none;
    color: inherit;
}

button:hover, header a:hover {
    color: var(--secondary700);
}

header a.app_logo {
    font-size: 2rem;
    letter-spacing: 3px;
}

header nav {
    margin-left: 40%;
    font-size: 1.25rem;
    display: flex;
    gap: 20px;
}

button {
    border: none;
    color: var(--secondary400);
    cursor: pointer;
    background-color: transparent;
    font-weight: 600;
}