*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --text: #001307;
    --background: #f5fff8;
    --primary400: #fffbdb;
    --secondary100: #cca2fd;
    --secondary400: #b87cfc;
    --secondary600: #4b049c;
    --secondary700: #2d025d;
    --accent300: #fdb4f8;
    --accent400: #fb4cef;
    --accent600: #7d0374;
    --padding-left: 15%;
    --padding-right: 5%;
    --white: #fff;
    --error: #DD1155;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--background);
    color: var(--text);
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}


a {
    color: var(--accent400);
    font-weight: 600;
    text-decoration-style: dashed;
}

a:hover {
    color: var(--accent600);
}

section.container {
    padding-inline: var(--padding-left) var(--padding-right);
    margin-bottom: 30px;
}

section.skeleton {
    margin-top: 50px;
}